html
	head
		title Foundry Matrix Blog
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
		link(rel='stylesheet' href='/styling/main.css')
	body
		div(class="container row")
			div(class="header col-md-12 col-sm-12 col-xs-12")
				include ./header
			div(class="blog-title col-md-6 col-sm-6 col-xs-6 col-centered") TITLE OF BLOGPOST
			div(class="blog-author col-md-6 col-sm-6 col-xs-6 col-centered") AUTHOR OF BLOGPOST
			div(class="blog-content col-md-8 col-sm-8 col-xs-8 col-centered") Content of blogpost