each blogpost in blogposts
	div(class="indivpost")
		a(href="/update")
			button(type="button" class="edit glyphicon glyphicon-pencil")
		a(href="/delete")
			button(type="button" class="delete glyphicon glyphicon-remove")
		div(class="img")
			img(src=blogpost.image)
		div(class="blogtext")
			h2 #{blogpost.title}
			p #{blogpost.date}
			p #{blogpost.text}