html
	head
		title Foundry-Matrix Blog
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
		link(rel="stylesheet" href="./main.css")
	body
		div(class="form")
			form
				input(type="text" name="title")
				br
				textarea
				input(type="submit" )