html
	head
		title Default Title
		link(rel='stylesheet',href='/styling/main.css')
	body

		div(class="header col-md-12")
			include ./header
		div(class="sidebar col-md-3 col-xs-3 col-sm-3")
			include ./sidebar
		div(class="content col-md-9 col-xs-9 col-sm-9")
			include ./content
