html
	head
		title Foundry-Matrix Blog
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
		link(rel="stylesheet" href="./main.css")
	body
		div(class="header")
			include ./header
		div(class="sidebar")
			include ./sidebar
		div(class="content")
			include ./content