html
	head
		title Default Title
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
		link(rel='stylesheet' href='/styling/main.css')
	body
		div(class="header col-md-12")
			include ./header
		div(class="sidebar col-md-3 col-xs-3 col-sm-3")
			include ./sidebar
		div(class="col-md-1 col-xs-1 col-sm-1")
		div(class="content col-md-8 col-xs-8 col-sm-8")
			include ./content

