html
	head
		title Foundry Matrix Blog
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
		link(rel='stylesheet' href='/styling/main.css')
	body
		div(class="header col-md-12")
			include ./header
		div
			p You're in the logout area!