each blogpost in posts
	a(href="&path=/blogposts&blogid=" + blogpost.id)
		li #{blogpost.title} - #{blogpost._id.$iod}
			-console.log("BLOG IDS -----", blogpost._id);
			-console.log("type", typeof blogpost._id);
			-console.dir(blogpost._id);