.sidebar {
	float: left;
	border: 2px solid black;
	border-radius: 5px;
	display: inline-block;
	padding: 5px;
	margin: 5px;
}
.content {
	float: center;
	border: 2px solid black;
	border-radius: 5px;
	display: inline-block;
	padding: 5px;
	margin: 5px;
}
.header {
	color: red;
	font-size: 30px;
	border-radius: 50px;
	border: 2px solid blue;
}