/*Custom CSS Help Classes*/
.col-centered{
    float: none;
    margin: 0 auto;
}

/* ------------------------ */

.header {
	font-family: cursive;
	text-align: center;
}
body {
		background: url(light_toast.png);
}
.sidebar {
    background-color: white;
}
.content {
    background-color: white;
}
.indivpost {
    background-color: #55ACEE;
    padding: 10px;
    margin: 10px;      
}
.img {
	float: left;
}
.edit {
	background: none;
	border: none;
	float: right;
}
.delete {
	background: none;
	border: none;
	float: right;
}